# configuration files
*config.toml
*config.json
users.json
logs/

# binaries
main
/octyne
authenticator
go_build_main_go
__*

# Dependency directories (remove the comment below to include it)
# vendor/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
